<div class="jumbotron">
    <div class="container">
        <h1>Facebook Winnner</h1>
        <p>Facebook Winnner is a quick and easy way to pick a winner for Facebook timeline post promotions.</p>
        <p><a class="btn btn-primary btn-lg login">Login with Facebook</a></p>
        <p>You already know that Facebook now allows to run promotions and winning games directly from your timeline posts. You are free to reward your commenters and/or likes and boost your page social engagement. Just announce: <strong>like to win</strong> or <strong>comment to win</strong>. If you are lucky you can get hundreds or thousands or likes and comments, but there's no built-in facebook tool for you to export or randomly pick some of comments or likes.</p>
        <p>Facebook Winner helps you select a page, list posts, export comments, export likes and randomly pick one or more winners.</p>        
        <p>After you login with this facebook app, you will be presented a list of pages you liked. Either pick one or type in some other page name. In the next screen you will able to see recent page posts. In here you can export as CSV: post comments or post likes.</p>
        <p>If you want to pick a winner for a post click on a "Winners" like. You can define if candidates are commenters, likers or both. Also check if you want then to haev equal chance no matter how many times they commented the same post. On button click the system will pick a random winner. You can click to get more winners. You can also delete existing winners.</p>
    </div>
</div>
